<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.SEND_SMS" />
    <!-- Camera permission is needed to scan barcodes -->
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Inventory App"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JoshuaKublnick_InventoryApp">

        <activity
            android:name=".login_screen.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".inventory_screen.InventoryActivity"
            android:exported="false" />

        <activity
            android:name=".sms_notifs.SmsNotifsActivity"
            android:exported="false" />

        <!-- New activity for barcode scanning -->
        <activity
            android:name=".barcode_scanner.BarcodeScannerActivity"
            android:exported="false" />

    </application>

</manifest>
